@font-face {
    font-family: 'NorseBold';
    src: url('./Norse-Bold.otf');
}
@font-face {
    font-family: 'UbuntuBold';
    src: url('./Ubuntu-B.ttf');
}

html{

background-color: #121212;

}

.hello{

    color: red;
    background: url('./icon.svg');
    font-family: 'NorseBold';

}